*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: rgb(61, 0, 0);
  color: rgb(255, 255, 255);
  height: 57px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.code{
  background-color: rgb(10, 10, 10);
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: space-evenly;
}
.editor{
  /* border: 2px solid rgb(133, 7, 7); */
  height: 98%;
  width: 410px;
  color: azure;
  /*  */
}
hr{
  height: 0px;
  color: rgb(163, 163, 163);
}
.editor_head{
  /* height: 50px; */
  /* background-color: rgb(33, 29, 29); */
  display: flex;
  /* border: 1px solid white; */
  align-items: center;
  justify-content: space-between;
}
.head_data{
  background-color: rgb(66, 66, 66);
  height: 35px;
  width: 80px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  /* justify-content: center; */
  padding-left: 8px;
  text-transform: capitalize;
}
.head_config{
  width: 50px;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  width: 30px;
  height: 20px;
  background-color: rgb(129, 123, 123);
  border: none;
  border-radius: 2px;
  margin-right: 2px;
}
button:hover{
  cursor: pointer;
}
.editor_body{
  background-color: rgb(66, 66, 66);
  /* border: 2px solid red; */
  height: 308px;
}
iframe{
  /* border: 2px solid red; */
  height: 255px;
}
span{
  font-size: 18px;
  /* border: 2px solid wheat; */
}